body {
    width:1200px;
    margin: 0 auto!important;
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
}
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
.logo a{
    color: #337ab7;
    text-decoration: none;
}
.logo h1 {
    font-family: 'Solway', serif;
}
.logo a:hover{
    text-decoration:none;
}
.main_content {
    width: 900px;
    margin-left: 300px;
    margin-top:70px;
}
.menu-sidebar {
    width: 300px;
    position: fixed;
    /*left: 0;*/
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

    .menu-sidebar .logo {
        margin : 0 auto;
        height: 120px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #e5e5e5;
    }
  
.menu-sidebar__content {
    position: relative;
    height: -webkit-calc(85vh - 75px);
    height: -moz-calc(85vh - 75px);
    height: calc(85vh - 75px);
}

.navbar-sidebar {
    padding: 35px;
    padding-bottom: 0;
}
/*-------------header --------------------*/
section {
    position: relative;
}

.section__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.header-desktop {
    background: #e5e5e5;
    padding-left: 300px;
}
.header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.account-item {
    cursor: pointer;
}
.admin_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul.navbar_list{
    list-style: none;
}
.navbar_list li {
    padding-top: 20px;
    text-shadow: 0px 0px 3px;
    font-size: 20px;
}
.place_desc_subs{
    text-overflow:ellipsis;

}
.add_place_btn {
    font-size: 25px;
    float: right;
    margin: 23px 15px 0 0px;
}
.add_place h1{
    display:inline-block;
}
.place_header {
    border-bottom: 2px solid #ddd;
    margin-top: 20px;
    margin-bottom: 30px;
}
.search_place{
    padding-top:20px;
    padding-bottom:20px
}
.search_textbar {
    border: 2px solid #fff;
    border-bottom: 2px solid #337ab7;
    width: 45%;
    font-size: 18px;
}
.panel-primary {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #337ab7;
    border-radius: 10px;
}
.add_place {
    margin-left: 10px;
    margin-right: 10px;
}
.place_desc_subs {
    width: 420px;
}
.table-hover{
    font-size:13px;
}
.dl-vertical dd{
    border-bottom : 2px solid #ddd;
}
.place_descript {
    height: 150px !important;
    resize: none;
    width: 368px;
}
.panel_date{
    float:right;
}
.view_place_content span,textarea{
    cursor:pointer!important;
}
.create_btn {
    padding: 8px 15px 8px 15px;
    margin: 0 auto;
    width: 24%;
    display: block;
}
.delete_btn_view{
    width:100%;
}
.panel-heading h1,h2 {
    display: inline-block;
}
.search_btn {
    padding: 2px 8px 2px 8px;
    margin: 0 auto;
    width: 20%;
    border-radius: 4px;
    background: #33337752;
}
.panel-body div{
    padding-bottom:20px;
}
.glyphicon-chevron-left{
    color:#000;
    font-size:25px;
}
.add_new_heading{
    display:inline-block;
}
#page_title{
    display:inline-block;
}
#place_title_heading{
    display:inline-block;
}
.glyphicon-edit{
    font-size:18px;
}
.update_btn {
    width: 35%;
    margin: 0 auto;
    display: block;
    padding: 4px 0 4px 0;
}
footer p {
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    padding: 7px 0 7px 0;
    width: 900px;
    float: right;
}